.bcktopyeah{
    background-color:#AEB2F5;
    padding: 50px 100px 50px 100px;
}
.centertxt{
    text-align: center;
}
.cloudsback{
    background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/82d72db2-340a-41f4-ad19-1ac60427b125/difspmk-aee02bb6-3c9b-4011-88ed-1d4ad0b8ecdc.png/v1/fill/w_1415,h_564/transparent_png_clouds_by_thedesignfreaks_difspmk-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTU5NiIsInBhdGgiOiIvZi84MmQ3MmRiMi0zNDBhLTQxZjQtYWQxOS0xYWM2MDQyN2IxMjUvZGlmc3Btay1hZWUwMmJiNi0zYzliLTQwMTEtODhlZC0xZDRhZDBiOGVjZGMucG5nIiwid2lkdGgiOiI8PTQwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.o21cTKHmkY2m8rFsAqkpSkYAlAI42PfvsBqUjl5Uyc8");
}
#cctext{
    color:#616161;
}
.firstshowcasegraid{
    background-image: linear-gradient(to bottom, rgba(174,178,245,1), rgba(255,0,0,0));
}
h1{
    text-decoration:underline;
}
h2{
    color:#525252;
    font-size:18px;
    text-decoration:underline;
}
h3{
    color:#525252;
    font-size:14px;
    text-decoration:underline;
}
h4{
    text-decoration:underline;
    font-size:18px;
    color:white;
}